In [ ]:
import numpy as np
import pandas as pd

In [ ]:
fake_news = pd.read_csv("https://github.com/FavioVazquez/fake-news/raw/master/data/Fake.csv")
true_news = pd.read_csv("https://github.com/FavioVazquez/fake-news/raw/master/data/True.csv")

In [ ]:
fake_news.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [ ]:
true_news.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [ ]:
# Number of rows in fake news
#fake_news.shape # (23481, 4)
# Number of rows in true news
#true_news.shape # (21417, 4)

(21417, 4)

In [ ]:
fake_zero = np.zeros((23481), dtype=int)
true_one = np.ones((21417), dtype=int)
fake_news.insert(loc=4,column="flag",value=fake_zero)
true_news.insert(loc=4,column="flag",value=true_one)
print(fake_news.head())
print(true_news.head())

                                               title  ... flag
0   Donald Trump Sends Out Embarrassing New Year’...  ...    0
1   Drunk Bragging Trump Staffer Started Russian ...  ...    0
2   Sheriff David Clarke Becomes An Internet Joke...  ...    0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...    0
4   Pope Francis Just Called Out Donald Trump Dur...  ...    0

[5 rows x 5 columns]
                                               title  ... flag
0  As U.S. budget fight looms, Republicans flip t...  ...    1
1  U.S. military to accept transgender recruits o...  ...    1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...    1
3  FBI Russia probe helped by Australian diplomat...  ...    1
4  Trump wants Postal Service to charge 'much mor...  ...    1

[5 rows x 5 columns]

In [ ]:
total_data = pd.concat([true_news, fake_news])
total_data.head()

                                               title  ... flag
0  As U.S. budget fight looms, Republicans flip t...  ...    1
1  U.S. military to accept transgender recruits o...  ...    1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...    1
3  FBI Russia probe helped by Australian diplomat...  ...    1
4  Trump wants Postal Service to charge 'much mor...  ...    1

[5 rows x 5 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(total_data["text"], total_data["flag"], test_size=0.3, shuffle=True, random_state=42)

In [ ]:
#other imports
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import itertools

In [ ]:
#initialize
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.9)
tfidf_train = tfidf_vectorizer.fit_transform(X_train)
tfidf_test = tfidf_vectorizer.transform(X_test)

In [ ]:
print(tfidf_train.shape)
print(tfidf_test.shape)
print(y_train.shape)
print(y_test.shape)

(31428, 104905)
(13470, 104905)
(31428,)
(13470,)

In [ ]:
#initialize
pac = PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train, y_train)

y_pred = pac.predict(tfidf_test)
score = accuracy_score(y_test, y_pred)
print("Accuracy=",score)

Accuracy= 0.9937639198218263

In [ ]:
confusion_matrix(y_test, y_pred, labels=[0, 1])

array([[6941,   55],
       [  29, 6445]])